
/**************
    FOOTER
**************/

footer {
    width: 60%;
    margin: 0 auto;
    padding: 10px;

    p {
        margin-bottom: 2rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: normal;
        color: #282828;
        opacity: 0.8;
    }
}